@page "/compare-options"
@inject DcidrAppModel AppModel
@using Dcidr.Blazor.Shared
@inject NavigationManager NavigationManager

    <div class="fade-in">

        <h1>Compare options</h1>

        <p class="mb-3">
            Complete these @(AppModel.Decision.OptionComparisons.Count) sentences.
        </p>

        <div class="comparison-container-list d-flex flex-wrap ">
            @foreach (var oc in AppModel.Decision.OptionComparisons)
            {
                <OptionComparisonInput @key="@oc.GetHashCode()" Item="@oc" WeightChanged="StateHasChanged" />
            }
        </div>


        <hr />

        <div class="mb-2 text-center">
            <small>
                @AppModel.Decision.OptionComparisons.Count(oc => oc.Weight != null)
                / @AppModel.Decision.OptionComparisons.Count
                sentences are complete
            </small>
        </div>

        <div class="d-flex justify-content-between  mb-3">

            <NavLink class="d-btn" href="options" title="Back">
                <img src="images/arrow-left.svg" />
                Back
            </NavLink>

            @if (AppModel.Decision.AllOptionComparisonsHaveWeights)
            {
                <NavLink class="d-btn d-btn-primary" href="compare-criteria" title="Continue">
                    Continue
                    <Dcidr.Blazor.Shared.InlineSvg.ArrowRight />
                </NavLink>
            }
            
        </div>

        <DecisionDebug />
    </div>


@code {

    protected override void OnInitialized()
    {
        if (!AppModel.Decision.HasEnoughOptions || !AppModel.Decision.HasEnoughCriteria)
        {
            NavigationManager.NavigateTo("/options");
        }
    }
}